{% extends 'news/base.html' %}
<body>
    {% block header %}
        <h2>{{news.title}}</h2>
        <p>{{news.content}}</p>
        <label>{{news.created_at}}</label>
    {% endblock %}

    {% block nav %} 
        <h3>Все комментарий:</h3>
        {% for comment in comments %}
            <li>
                <ol><h4>{{comment.content}}</h4></ol>
                <ol><label>{{comment.created_at}}</label></ol>
            </li>

        {% endfor %}
    {% endblock %}
    
    {% block content %}

        <h3>Добавить комментарий:</h3>
        <form method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Добавить комментарий">
        </form>
       
    {% endblock %}

</body>
</html>