<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
</head>
<body>
    <h4>Все новости</h4>
    {% for news in list_news %}
    <li>
        <ol>
            <a href = "{% url 'news:get_news' news.id %}">{{news.title}}</a>
        </ol>
    </li>
    {% endfor %}

    <h4>Добавить новость</h4>
    <form action = "{% url 'news:add_news' %}" method = "post">
        {% csrf_token %}
        <label>Название новости:</label>
        <input type="text" name="title"><br><br>
        <label>Текст новости:</label>
        <textarea name="content"></textarea><br><br>
        <input type="submit" value="Добавить новость">
    </form>
    
</body>
</html>