{% extends 'news/base.html' %}
    {% block header %} All News {% endblock %}

    {% block nav %}
        {% for news in list_news %}
        <li>
            <ol>
                <a href = "{{news.id}}/">{{news.title}}</a>
            </ol>
        </li>
        {% endfor %}
    {% endblock %}
    {% block content %}
        <h4>Добавить новость</h4>
        <form method = "post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Добавить новость">
        </form>
    {% endblock %}